<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>kk</display-name>
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:dispatcher-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>
	
	<!-- 测试servlet -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- 测试servlet -->
	<servlet>
		<servlet-name>userInfo</servlet-name>
		<servlet-class>com.aicai.service.biz.auth.login.UserInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userInfo</servlet-name>
		<url-pattern>/getUserInfo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>burlapWs</servlet-name>
		<servlet-class>com.aicai.service.burlap.BurlapWS</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>burlapWs</servlet-name>
		<url-pattern>/remoting/burlapWs</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
       <servlet-name>hello</servlet-name>
       <servlet-class>com.caucho.hessian.server.HessianServlet</servlet-class>
       <init-param>
           <param-name>home-api</param-name>
           <param-value>com.aicai.service.hessian.HelloWorldService</param-value>
       </init-param>
       <init-param>
           <param-name>home-class</param-name>
           <param-value>com.aicai.service.hessian.HelloWorld</param-value>
       </init-param>
    </servlet>
    <servlet-mapping>
       <servlet-name>hello</servlet-name>
       <url-pattern>/hello</url-pattern>
    </servlet-mapping>

	<!--  测试servlet 顺序 -->
	<servlet>
		<servlet-name>testOrder</servlet-name>
		<servlet-class>com.aicai.service.test.servlet.ServletInitOrder</servlet-class>
<!-- 		<load-on-startup>2</load-on-startup> -->
	</servlet>
	<servlet-mapping>
		<servlet-name>testOrder</servlet-name>
		<url-pattern>/servletinit</url-pattern>
	</servlet-mapping>
	
<!-- 	<error-page> -->
<!-- 		<error-code>400</error-code> -->
<!-- 		<location>/commons/400.jsp</location> -->
<!-- 	</error-page> -->
<!-- 	<error-page> -->
<!-- 		<error-code>403</error-code> -->
<!-- 		<location>/commons/404.jsp</location> -->
<!-- 	</error-page> -->
<!-- 	<error-page> -->
<!-- 		<error-code>404</error-code> -->
<!-- 		<location>/commons/404.jsp</location> -->
<!-- 	</error-page> -->
<!-- 	<error-page> -->
<!-- 		<error-code>405</error-code> -->
<!-- 		<location>/commons/405.jsp</location> -->
<!-- 	</error-page> -->
<!-- 	<error-page> -->
<!-- 		<error-code>500</error-code> -->
<!-- 		<location>/commons/404.jsp</location> -->
<!-- 	</error-page> -->
<!-- 	<error-page> -->
<!-- 		<error-code>502</error-code> -->
<!-- 		<location>/commons/404.jsp</location> -->
<!-- 	</error-page>   -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
